{% extends 'base.html.twig' %}

{% block title %}Edit PictoAutresMots{% endblock %}

{% block body %}
    <h1>Edit PictoAutresMots</h1>

    {{ include('picto_autres_mots/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_picto_autres_mots_index') }}">back to list</a>

    {{ include('picto_autres_mots/_delete_form.html.twig') }}
{% endblock %}
