{% extends 'base.html.twig' %}

{% block title %}Edit PictoCouverts{% endblock %}

{% block body %}
    <h1>Edit PictoCouverts</h1>

    {{ include('picto_couverts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_picto_couverts_index') }}">back to list</a>

    {{ include('picto_couverts/_delete_form.html.twig') }}
{% endblock %}
