{% extends 'base.html.twig' %}

{% block title %}Edit PictoJouet{% endblock %}

{% block body %}
    <h1>Edit PictoJouet</h1>

    {{ include('picto_jouet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_picto_jouet_index') }}">back to list</a>

    {{ include('picto_jouet/_delete_form.html.twig') }}
{% endblock %}
