{% extends 'base.html.twig' %}

{% block title %}Edit PictoSujets{% endblock %}

{% block body %}
    <h1>Edit PictoSujets</h1>

    {{ include('picto_sujets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_picto_sujets_index') }}">back to list</a>

    {{ include('picto_sujets/_delete_form.html.twig') }}
{% endblock %}
