<form method="post" action="{{ path('app_picto_lieux_delete', {'id': picto_lieux.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picto_lieux.id) }}">
    <button class="btn">Delete</button>
</form>
