{% extends 'base.html.twig' %}

{% block title %}Edit PictoLieux{% endblock %}

{% block body %}
    <h1>Edit PictoLieux</h1>

    {{ include('picto_lieux/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_picto_lieux_index') }}">back to list</a>

    {{ include('picto_lieux/_delete_form.html.twig') }}
{% endblock %}
